// ハンバーガーメニュー
.bl_hamburger_button,
.bl_hamburger_button span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    z-index: 20;
    display: none;
}
.bl_hamburger_button {
    position: relative;
    width: 20px;
    height: 16px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
}
.bl_hamburger_button span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $cWhite;
    border-radius: 4px;
}
.bl_hamburger_button .color_w {
    background-color: #fff;
}
.bl_hamburger_button span:nth-of-type(1) {
    top: 0;
}
.bl_hamburger_button span:nth-of-type(2) {
    top: 6.5px;
}
.bl_hamburger_button span:nth-of-type(3) {
    bottom: 0;
}
.bl_hamburger_button.js_hamburger_open span:nth-of-type(1) {
    transform: translateY(6.5px) rotate(-45deg);
}
.bl_hamburger_button.js_hamburger_open span:nth-of-type(2) {
    opacity: 0;
} 
.bl_hamburger_button.js_hamburger_open span:nth-of-type(3) {
    transform: translateY(-7.5px) rotate(45deg);
}

  // メニュー
.bl_hamburger_menu {
    width: 100%;
    height: 100Vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $cBrightBlue;
    transform: translateX(100%);
    opacity: 0;
    z-index: 15;
}
.bl_hamburger_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc((100vh - 500px)/ 2) 0;
    gap: 50px;
}
.bl_hamburger_menu-li:not(:last-child) {
    margin-bottom: 50px;
}
.bl_hamburger_menu.js_hamburger_open {
    transform: translateX(0);
    opacity: 1.0;
    transition: transform 0.5s, opacity 0.5s;

}

.bl_hamburger_menu_li a {
    font-size: 2.4rem;
    color: $cWhite;
    & > span {
        display: block;
        text-align: center;
    }
}
.js_hamburger_no_scroll {
    overflow: hidden;
}
@media (max-width: 959px) {
    .bl_hamburger_button,
    .bl_hamburger_button span {
        display: block;
    }
}