.bl_hamburger_button,
.bl_hamburger_button span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 20;
  display: none;
}

.bl_hamburger_button {
  position: relative;
  width: 20px;
  height: 16px;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.bl_hamburger_button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.bl_hamburger_button .color_w {
  background-color: #fff;
}

.bl_hamburger_button span:nth-of-type(1) {
  top: 0;
}

.bl_hamburger_button span:nth-of-type(2) {
  top: 6.5px;
}

.bl_hamburger_button span:nth-of-type(3) {
  bottom: 0;
}

.bl_hamburger_button.js_hamburger_open span:nth-of-type(1) {
  -webkit-transform: translateY(6.5px) rotate(-45deg);
          transform: translateY(6.5px) rotate(-45deg);
}

.bl_hamburger_button.js_hamburger_open span:nth-of-type(2) {
  opacity: 0;
}

.bl_hamburger_button.js_hamburger_open span:nth-of-type(3) {
  -webkit-transform: translateY(-7.5px) rotate(45deg);
          transform: translateY(-7.5px) rotate(45deg);
}

.bl_hamburger_menu {
  width: 100%;
  height: 100Vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4b6cb7;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  z-index: 15;
}

.bl_hamburger_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc((100vh - 500px)/ 2) 0;
  gap: 50px;
}

.bl_hamburger_menu-li:not(:last-child) {
  margin-bottom: 50px;
}

.bl_hamburger_menu.js_hamburger_open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1.0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.bl_hamburger_menu_li a {
  font-size: 2.4rem;
  color: #fff;
}

.bl_hamburger_menu_li a > span {
  display: block;
  text-align: center;
}

.js_hamburger_no_scroll {
  overflow: hidden;
}

@media (max-width: 959px) {
  .bl_hamburger_button,
  .bl_hamburger_button span {
    display: block;
  }
}

#loading {
  width: 100%;
  height: 100vh;
  background: #4b6cb7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
}

#loadingWrap {
  width: 30%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-animation: ky_img 1.5s both;
          animation: ky_img 1.5s both;
}

@-webkit-keyframes ky_img {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes ky_img {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes loaderAnime {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loaderAnime {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loaded {
  -webkit-animation: loadingAnime 1s forwards;
          animation: loadingAnime 1s forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes loadingAnime {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loadingAnime {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.up {
  -webkit-transform: translateY(80px) !important;
          transform: translateY(80px) !important;
  opacity: 0;
}

.up.is-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1;
}

.up_d {
  -webkit-transform: translateY(80px) !important;
          transform: translateY(80px) !important;
  opacity: 0;
}

.up_d.is-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1;
}

.down {
  -webkit-transform: translateY(-80px) !important;
          transform: translateY(-80px) !important;
  opacity: 0;
}

.down.is-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1;
}

.left {
  -webkit-transform: translateX(-80px) !important;
          transform: translateX(-80px) !important;
  opacity: 0;
}

.left.is-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1;
}

.right {
  -webkit-transform: translateX(80px) !important;
          transform: translateX(80px) !important;
  opacity: 0;
}

.right.is-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1;
}

.opacity {
  opacity: 0;
}

.opacity.is-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.opacity_d {
  opacity: 0;
}

.opacity_d.is-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 2.3s;
          transition-delay: 2.3s;
  opacity: 1;
}

.ly_header.header-scroll {
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 20;
}

.bl_header_logo-2.header-scroll {
  display: block;
  z-index: 20;
}

.bl_header_logo.header-scroll {
  display: none;
}

.bl_nav_menu_li.header-scroll > a {
  color: #191919;
}

.hp_nav_menu_li.header-scroll::before {
  background-color: #191919;
}

.bl_hamburger_button.header-scroll > span {
  background-color: #191919;
}

body {
  font-family: "Noto Sans JP", Sans-serif;
  color: #191919;
}

.el_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.el_content_ttl {
  font-size: 4.8rem;
  font-weight: bold;
  font-family: Lato;
  z-index: 5;
}

.el_content_ttl > .span_ttl {
  position: relative;
  margin-left: 40px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #4b6cb7;
  font-family: "Noto Sans JP", Sans-serif;
}

.el_content_ttl > .span_ttl::before {
  content: "";
  width: 1px;
  height: 30px;
  background-color: #4b6cb7;
  position: absolute;
  left: -18px;
  top: 50%;
  -webkit-transform: translateY(-60%) rotate(40deg);
          transform: translateY(-60%) rotate(40deg);
}

.el_content_main {
  z-index: 5;
}

.el_content_main_ttl {
  margin-top: 25px;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.4;
}

.el_content_main_text {
  margin-top: 18px;
  line-height: 2;
  letter-spacing: 0.32px;
}

.el_btn {
  width: 256px;
  height: 64px;
  position: relative;
  text-align: center;
  line-height: 4;
  -webkit-box-shadow: 0px 2px 4px 0 rgba(24, 40, 72, 0.46);
          box-shadow: 0px 2px 4px 0 rgba(24, 40, 72, 0.46);
  background-color: #4b6cb7;
  z-index: 5;
}

.el_btn > a {
  color: #fff;
  position: relative;
}

.el_btn > a::before {
  content: "";
  width: 16px;
  height: 4px;
  position: absolute;
  top: 47%;
  right: 13%;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.el_btn > a:hover::before {
  content: "";
  right: 8%;
}

@media (max-width: 959px) {
  .el_content_ttl {
    font-size: 4.0rem;
  }
  .el_content_ttl > .span_ttl {
    position: relative;
    margin-left: 40px;
    font-size: 2.2rem;
  }
  .el_content_ttl > .span_ttl::before {
    content: "";
    width: 1px;
    height: 26px;
    left: -18px;
    top: 50%;
    -webkit-transform: translateY(-60%) rotate(40deg);
            transform: translateY(-60%) rotate(40deg);
  }
  .el_content_main_ttl {
    font-size: 2.6rem;
    line-height: 1.33;
  }
  .el_content_main_text {
    margin-top: 18px;
    letter-spacing: 0.28px;
    line-height: 2;
  }
  .el_btn {
    height: 44px;
    line-height: 2.7;
  }
  .el_btn > a {
    color: #fff;
    position: relative;
  }
}

@media (max-width: 480px) {
  .el_content_ttl {
    font-size: 3.2rem;
  }
  .el_content_ttl > .span_ttl {
    margin-left: 32px;
    font-size: 2.0rem;
  }
  .el_content_ttl > .span_ttl::before {
    content: "";
    width: 1px;
    height: 26px;
    left: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(40deg);
            transform: translateY(-50%) rotate(40deg);
  }
  .el_content_main_ttl {
    font-size: 2.4rem;
  }
  .el_content_main_text {
    font-size: 1.4rem;
  }
  .el_btn {
    height: 44px;
    line-height: 2.7;
  }
  .el_btn > a {
    color: #fff;
    position: relative;
  }
}

.br_960 {
  display: none;
}

.br_600 {
  display: none;
}

@media (max-width: 959px) {
  .br_960 {
    display: block;
  }
  .br_960_revers {
    display: none;
  }
}

@media (max-width: 599px) {
  .br_600 {
    display: block;
  }
}

@media (max-width: 480px) {
  .br_480 {
    display: none;
  }
}

.ly_inner {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 959px) {
  .ly_inner {
    width: 88%;
    margin: 0 auto;
  }
}

.ly_header {
  height: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background-image: linear-gradient(to right, #4b6cb7, #182848);
}

.ly_header_inner {
  height: 100%;
  width: 96%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.bl_header_logo {
  width: 136px;
  height: 29px;
  z-index: 20;
}

.bl_header_logo-2 {
  display: none;
}

.bl_nav_menu {
  gap: 38px;
}

.bl_nav_menu_li > a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bl_nav_menu_li > a:hover {
  color: #FFD700;
  opacity: 0.6;
  text-shadow: 1px 1px 0 #191919;
}

.hp_nav_menu_li {
  position: relative;
  margin-left: 40px;
  color: #4b6cb7;
}

.hp_nav_menu_li::before {
  content: "";
  width: 1px;
  height: 34px;
  background-color: #fff;
  position: absolute;
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-60%) rotate(40deg);
          transform: translateY(-60%) rotate(40deg);
}

.span_10 {
  padding-top: 2px;
  font-size: 1.0rem !important;
}

.span_16 {
  font-size: 1.6rem !important;
}

@media (max-width: 959px) {
  .ly_header {
    height: 80px;
    background-image: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
    background-image: linear-gradient(to right, #4b6cb7, #182848);
  }
  .ly_header_inner {
    height: 100%;
    width: 88%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}

@media (max-width: 479px) {
  .ly_header {
    height: 56px;
  }
}

.ly_fv {
  position: relative;
}

.ly_fv .swiper {
  height: 100%;
}

.ly_fv .swiper .slide-img {
  height: 100%;
}

.ly_fv .swiper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
}

.ly_fv .swiper .slide-img img {
  display: block;
}

.ly_fv {
  background-image: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background-image: linear-gradient(to right, #4b6cb7, #182848);
  height: calc(100vh - 80px);
}

.ly_fv_inner {
  padding-bottom: 16px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -59%);
          transform: translate(-50%, -59%);
  max-width: 100%;
  z-index: 5;
}

.bl_fv_ttl {
  color: #fff;
  font-family: Lato;
  font-size: 9.6rem;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
  line-height: 1.17;
  letter-spacing: 1.92px;
}

.bl_fv_ttl_sab {
  width: 60%;
  margin-top: 3vh;
  position: relative;
  left: 2.5rem;
}

.bl_fv_ttl_sab_text {
  display: inline-block;
  padding: 17px 28px 15px 29px;
  -webkit-transform: skew(-38deg);
          transform: skew(-38deg);
  -webkit-box-shadow: 7px 4px 0px #182848;
          box-shadow: 7px 4px 0px #182848;
  font-size: 3.2rem;
  font-weight: bold;
  color: #182848;
  background-color: #fff;
  line-height: 1;
}

.bl_fv_ttl_sab_text:nth-child(1) {
  margin-bottom: 15px;
}

.bl_fv_ttl_sab_text > span {
  display: block;
  -webkit-transform: skew(38deg);
          transform: skew(38deg);
}

.bl_fv_news {
  width: 73vw;
  max-width: 1016px;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #182848;
}

.bl_fv_news_ttl {
  padding: 22px  40px 15px 41px;
  color: #fff;
}

.bl_fv_news_wrapper {
  width: 60vw;
  padding: 19px  0px 18px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
  -webkit-transform: skew(-38deg);
          transform: skew(-38deg);
  background-color: #fff;
  color: #191919;
  border-top: 2px solid #182848;
  border-bottom: 2px solid #182848;
}

.bl_fv_news_day {
  line-height: 1.8;
}

.bl_fv_news_day > span {
  display: block;
  -webkit-transform: skew(38deg);
          transform: skew(38deg);
}

.bl_fv_news_icon {
  width: 80px;
  height: 25px;
  text-align: center;
  line-height: 2;
  border-radius: 5px;
  background-color: #b8614b;
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  -webkit-transform: skew(38deg);
          transform: skew(38deg);
}

.bl_fv_news_icon > span {
  display: block;
  -webkit-transform: skew(0deg);
          transform: skew(0deg);
}

.bl_fv_news_content {
  font-weight: normal;
  line-height: 1.8;
}

.bl_fv_news_content > span {
  display: block;
  -webkit-transform: skew(38deg);
          transform: skew(38deg);
}

.bl_point {
  padding: 0px 30px 0px 50px;
  position: relative;
  color: #fff;
  line-height: 3.5;
}

.bl_point::before {
  content: "";
  width: 16px;
  height: 4px;
  position: absolute;
  top: 47%;
  right: 40%;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.bl_point:hover::before {
  content: "";
  right: 20%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hp_top_img {
  display: block;
}

.hp_top_img_sp {
  display: none;
}

.hp_fv_news:hover {
  opacity: 0.8;
}

@media (max-width: 1080px) {
  .bl_fv_ttl {
    font-size: 7.6rem;
  }
  .bl_fv_ttl_sab_text {
    font-size: 2.8rem;
  }
}

@media (max-width: 959px) {
  .ly_fv_inner {
    padding-left: 20px;
    padding-right: 20px;
    left: 0vw;
    -webkit-transform: translate(0%, -59%);
            transform: translate(0%, -59%);
  }
  .bl_fv_ttl {
    font-size: 7.6rem;
  }
  .bl_fv_ttl_sab {
    width: 80%;
  }
  .bl_fv_ttl_sab_text {
    font-size: 2.8rem;
  }
  .bl_fv_news {
    width: 80%;
    max-width: 1016px;
    margin-top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #182848;
  }
  .bl_fv_news_ttl {
    display: none;
  }
  .bl_fv_news_wrapper {
    width: 100%;
    padding: 14px  0px 13px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
    position: relative;
    -webkit-transform: skew(0);
            transform: skew(0);
    background-color: #fff;
    color: #191919;
    border: 2px solid #182848;
  }
  .bl_fv_news_wrapper::before {
    content: "NEWS";
    position: absolute;
    top: -56%;
    left: -2px;
    color: #fff;
    background-color: #182848;
    padding: 6px 13px 6px 13px;
  }
  .bl_fv_news_day {
    line-height: 1.8;
  }
  .bl_fv_news_day > span {
    display: block;
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  .bl_fv_news_icon {
    width: 80px;
    height: 25px;
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    background-color: #b8614b;
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  .bl_fv_news_icon > span {
    display: block;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .bl_fv_news_content {
    font-weight: normal;
    line-height: 1.8;
  }
  .bl_fv_news_content > span {
    display: block;
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  .bl_point {
    display: none;
  }
}

@media (max-width: 779px) {
  .hp_top_img {
    display: none;
  }
  .hp_top_img_sp {
    display: block;
  }
}

@media (max-width: 599px) {
  .ly_fv_inner {
    top: 14vh;
    left: 0vw;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .bl_fv_ttl {
    font-size: 4.8rem;
  }
  .bl_fv_ttl_sab {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
    width: 88%;
  }
  .bl_fv_ttl_sab_text {
    padding: 8px 20px;
    font-size: 1.9rem;
  }
  .bl_fv_ttl_sab_text:nth-child(1) {
    margin-bottom: 12px;
  }
  .bl_fv_news_wrapper {
    width: 90vw;
  }
}

@media (max-width: 479px) {
  .bl_fv_news_day, .bl_fv_news_content {
    font-size: 1.4rem;
  }
  .bl_fv_news_icon {
    font-size: 1.2rem;
  }
  .bl_fv_news {
    width: 100%;
  }
  .bl_fv_news_wrapper {
    width: 100%;
    padding: 14px  0px 13px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
    position: relative;
    -webkit-transform: skew(0);
            transform: skew(0);
    background-color: #fff;
    color: #191919;
    border: 2px solid #182848;
  }
  .bl_fv_news_wrapper::before {
    content: "NEWS";
    position: absolute;
    top: -60%;
    left: -2px;
    color: #fff;
    background-color: #182848;
    padding: 6px 13px 6px 13px;
  }
}

@media (max-width: 386px) {
  .bl_fv_news_wrapper::before {
    content: "NEWS";
    position: absolute;
    top: -40%;
    left: -2px;
    color: #fff;
    background-color: #182848;
    padding: 6px 13px 6px 13px;
  }
  .bl_fv_ttl {
    font-size: 4.0rem;
  }
  .bl_fv_ttl_sab_text {
    font-size: 1.6rem;
  }
}

.ly_service {
  background-color: #f0f0f0;
  margin-top: 160px;
  position: relative;
}

.ly_service::before {
  content: "";
  width: 450px;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  right: -3%;
  z-index: 0;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.ly_service_inner {
  width: 80%;
}

.bl_service_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 48px;
  margin-left: calc(50% - 50vw);
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
}

.bl_service_img {
  width: 50%;
  -ms-flex-preferred-size: 50;
      flex-basis: 50;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.bl_service_img > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_service_content {
  width: 50%;
  height: 440px;
}

.hp_service_btn {
  margin-top: 38px;
}

@media (max-width: 960px) {
  .ly_service {
    margin-top: 120px;
  }
  .ly_service::before {
    content: "";
    width: 450px;
    height: 100%;
    right: -45%;
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg);
  }
  .ly_service_inner {
    width: 100%;
  }
  .bl_service_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin-left: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .bl_service_img {
    width: 100%;
    -ms-flex-preferred-size: 50;
        flex-basis: 50;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .bl_service_img > img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bl_service_content {
    width: 88%;
    margin: 0 auto;
    height: 440px;
  }
  .hp_service_btn {
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .ly_service {
    margin-top: 120px;
  }
  .ly_service::before {
    content: "";
    width: 280px;
    right: -41%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}

.ly_about {
  width: 100%;
  margin-top: 160px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/images/background-image-about.jpg);
  background-size: cover;
  background-position: center;
}

.bl_about_content_img {
  margin-top: 32px;
}

.hp_about_content {
  padding: 40px 48px 48px 48px;
  background-color: #fff;
  display: inline-block;
}

.hp_about_btn {
  margin-top: 38px;
  position: relative;
}

.bl_about_img {
  display: none;
}

@media (max-width: 959px) {
  .ly_about {
    margin-top: 120px;
  }
}

@media (max-width: 599px) {
  .ly_about {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    background-size: cover;
    background-position: center;
  }
  .bl_about_content_img {
    margin-top: 32px;
  }
  .bl_about_img {
    display: block;
  }
  .bl_about_img > img {
    min-height: 248px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .bl_about_content_img {
    display: none;
  }
  .hp_about_content {
    padding: 40px 0px 0px 0px;
    background-color: #fff;
    display: block;
  }
  .hp_about_btn {
    margin: 0 auto;
  }
  .hp_about_btn {
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }
}

.ly_works {
  margin-top: 160px;
  position: relative;
  background-color: #f0f0f0;
}

.ly_works::before {
  content: "";
  width: 110vw;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: 0;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.hp_works_content {
  text-align: center;
}

.hp_works_btn {
  margin: 0 auto;
}

.hp_works_btn {
  margin-top: 40px;
}

.bl_works_menu {
  width: 100%;
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.bl_works_menu_li {
  width: 50%;
  -webkit-box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
          box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
  z-index: 5;
}

.bl_works_menu_li_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bl_works_menu_li_article_img {
  position: relative;
}

.bl_works_menu_li_article_img_num {
  width: 56px;
  height: 56px;
  position: absolute;
  top: -17px;
  left: -17px;
  text-align: center;
  line-height: 2.2;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  background-color: #182848;
}

.bl_works_menu_li_article_content {
  padding: 30px 25px 36px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  background-color: #fff;
}

.bl_works_menu_li_article_content_ttl {
  color: #b8614b;
  font-size: 2.4rem;
  font-weight: 500;
}

.bl_works_menu_li_article_content_text {
  line-height: 2;
  letter-spacing: 0.32px;
  color: #191919;
}

@media (max-width: 959px) {
  .ly_works {
    margin-top: 120px;
  }
}

@media (max-width: 599px) {
  .ly_works {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .ly_works::before {
    content: "";
    width: 180vw;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: -40%;
    z-index: 0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  .ly_works_inner {
    width: 100%;
  }
  .hp_works_content {
    text-align: left;
    width: 88%;
    margin: 0 auto;
  }
  .bl_works_menu {
    width: 100%;
    margin-top: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }
  .bl_works_menu_li {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .bl_works_menu_li_article_img_num {
    width: 64px;
    height: 40px;
    position: absolute;
    top: calc(100% - 40px);
    left: 0;
    text-align: center;
    line-height: 1.8;
    font-size: 2.0rem;
  }
  .bl_works_menu_li_article_content {
    width: 88%;
    margin: 0 auto;
    padding: 22px 0px 0px 0px;
    gap: 22px;
    background-color: rgba(0, 0, 0, 0);
  }
  .bl_works_menu_li_article_content_ttl {
    font-size: 2.0rem;
  }
  .bl_works_menu_li_article_content_text {
    font-size: 1.4rem;
    letter-spacing: 0.28px;
  }
}

.ly_recruit {
  margin-top: 160px;
  background-color: #f0f0f0;
}

.ly_recruit_inner {
  width: 80%;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 80px;
}

.hp_recruit_content {
  text-align: center;
}

.hp_recruit_btn_mini {
  width: 19vw;
  max-width: 264px;
  max-height: 56px;
  padding-left: 17px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(8px, 24px);
          transform: translate(8px, 24px);
  background: rgba(24, 40, 72, 0.64);
  line-height: 3.5;
  text-align: left;
}

.hp_recruit_btn {
  margin-top: 144px;
  margin-left: auto;
  margin-right: auto;
}

.bl_recruit_menu {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
}

.bl_recruit_menu_li {
  width: calc(33%);
}

.bl_recruit_menu_li:nth-child(1) {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.bl_recruit_menu_li:nth-child(2) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.bl_recruit_menu_li_article_img {
  position: relative;
}

.bl_recruit_img-sp {
  display: none;
}

@media (max-width: 959px) {
  .ly_recruit {
    margin-top: 120px;
  }
  .ly_recruit_inner {
    padding-top: 0px;
    padding-bottom: 120px;
  }
  .hp_recruit_content {
    text-align: center;
  }
  .hp_recruit_btn_mini {
    width: 19vw;
    max-width: 264px;
    max-height: 56px;
    padding-left: 17px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(8px, 24px);
            transform: translate(8px, 24px);
    background: rgba(24, 40, 72, 0.64);
    line-height: 2.8;
    text-align: left;
  }
  .hp_recruit_btn {
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;
  }
  .bl_recruit_menu {
    margin-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bl_recruit_menu_li {
    width: calc(33%);
  }
  .bl_recruit_menu_li:nth-child(1) {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  .bl_recruit_menu_li:nth-child(2) {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  .bl_recruit_menu_li_article_img {
    position: relative;
    height: 100%;
  }
}

@media (max-width: 759px) {
  .bl_recruit_img {
    display: none;
  }
  .hp_recruit_content {
    text-align: left;
    width: 88%;
    margin: 0 auto;
  }
  .bl_recruit_img-sp {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hp_recruit_btn_mini {
    width: 100%;
    max-width: 264px;
    max-height: 56px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    background: rgba(24, 40, 72, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
    line-height: 2.3;
    text-align: left;
  }
  .hp_recruit_btn_mini > a::before {
    display: none;
  }
  .hp_recruit_btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .bl_recruit_menu {
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .bl_recruit_menu_li {
    width: calc(100%);
  }
  .bl_recruit_menu_li:nth-child(1) {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .bl_recruit_menu_li:nth-child(2) {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .bl_recruit_menu_li_article_img {
    position: relative;
    height: 100%;
  }
  .ly_recruit {
    background-color: #fff;
  }
  .ly_recruit_inner {
    width: 100%;
  }
}

.ly_contact {
  background-image: url(/images/background-image-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ly_contact_inner {
  padding-top: 75px;
  padding-bottom: 75px;
}

.hp_content_ttl {
  color: #fff;
  text-align: center;
}

.hp_content_ttl > span {
  color: #fff;
}

.hp_content_ttl > span::before {
  content: '';
  background-color: #fff;
}

.hp_content_main {
  text-align: center;
  color: #fff;
}

.bl_contact_btn_wrapper {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.hp_c-R {
  width: 320px;
  height: 72px;
  line-height: 4.5;
  background-color: #b8614b;
  position: relative;
}

.hp_c-R > a::after {
  content: url(/images/Backhoe.svg);
  width: 24px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 13%;
}

.hp_c-B {
  width: 320px;
  height: 72px;
  line-height: 4.5;
  background-color: #191919;
  position: relative;
}

.hp_c-B > a::after {
  content: url(/images/Factory.svg);
  width: 24px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 13%;
}

.span_W {
  color: #fff !important;
}

.span_W::before {
  content: "";
  width: 1px;
  height: 34px;
  background-color: #fff !important;
  position: absolute;
  left: -18px;
  top: 50%;
  -webkit-transform: translateY(-60%) rotate(40deg);
          transform: translateY(-60%) rotate(40deg);
}

@media (max-width: 959px) {
  .ly_contact_inner {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .bl_contact_btn_wrapper {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
  .hp_c-R {
    width: 335px;
    height: 48px;
    line-height: 3;
  }
  .hp_c-B {
    width: 335px;
    height: 48px;
    line-height: 3;
  }
}

.ly_footer {
  background-color: #182848;
}

.ly_footer_inner {
  padding-top: 87px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bl_footer_logo {
  width: 271px;
  height: 58px;
  margin-bottom: 39px;
}

.bl_footer_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  color: #fff;
}

.bl_footer_nav {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.bl_footer_nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  letter-spacing: 3.2px;
}

.bl_footer_nav_menu_li > a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bl_footer_nav_menu_li > a:hover {
  color: #FFD700;
  opacity: 0.6;
  text-shadow: 1px 1px 0 #191919;
}

.hp_footer_nav_menu_li {
  margin-right: 54px;
}

.ly_copy {
  height: 60px;
  background-color: #191919;
}

.bl_copy {
  color: #fff;
  font-size: 1.2rem;
  line-height: 5;
}

@media (max-width: 959px) {
  .ly_footer_inner {
    padding-top: 40px;
    padding-bottom: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 81px;
  }
  .bl_footer_logo {
    width: 159px;
    height: 34px;
    margin-bottom: 23px;
  }
  .bl_footer_text {
    gap: 16px;
    font-size: 1.4rem;
  }
  .bl_footer_nav {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    font-size: 1.4rem;
  }
  .bl_footer_nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    letter-spacing: 3.2px;
  }
  .bl_footer_nav_menu_li > a {
    color: #fff;
  }
  .hp_footer_nav_menu_li {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .ly_copy {
    height: 60px;
    background-color: #191919;
  }
  .bl_copy {
    color: #fff;
    font-size: 1.0rem;
    line-height: 5;
  }
}

.bl_nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.bl_nav_menu_li > a {
  color: #fff;
  text-align: center;
}

.bl_nav_menu_li > a > span {
  display: block;
  text-align: center;
  font-size: 1.6rem;
}

.hp_bar {
  color: #fff;
  font-size: 2.0rem;
}

@media (max-width: 959px) {
  .bl_nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */